html {
    background-color: "white";
    display: table;
    margin: auto;
    border-color: white;
    text-decoration-color: white;
}

body {
    display: table-cell;
    vertical-align: middle;
    color: black;
}

.img_outside {
    position: relative;
    color: black;
}

.img_inside {
    background-color: "white";
    border: 7px solid "white";
    position:absolute;
    left:50% ;
    margin-left: -375px;
    top:50% ;
    margin-top: -250px;
    color: black;
}

.score_fig{
    position: absolute;
    top: 10px;
}

h1 {
    margin: 0.5em 0 0.5em 0;
    color: black;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 3em;
    text-transform: uppercase;
    text-align: center;
}

h2 {
    margin: 0 0 0 0;
    color: black;
    font-size: 20pt;
    text-align: center;
}

a:link {
    font-weight: bold;
    text-decoration: none;
    color: #0d8ba1;
}
a:visited {
    font-weight: bold;
    text-decoration: none;
    color: #1a5952;
}
a:hover, a:focus, a:active {
    text-decoration: underline;
    color: #9685BA;
}
